.navbar {
	border-radius: 0px;
	border-bottom: 1px solid lightgray;
}

.well {
	background-color: #fff;
	padding: 5px;
	margin: 4px;
}

.map-container, .users-container, .chart-widget {
	border: 1px solid black;
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 5px;
}

.select-user {
	max-width: 200px;
}

.select-transaction-type {
	max-width: 150px;
}

.filter {
	display: inline-block;
}

.transaction-type {
	padding: 10px;
}

th:hover {
	cursor: pointer;
}