.navbar {
	border-radius: 0px;
	border-bottom: 1px solid lightgray;
}

.navbar-header, .navbar-nav {
	display: inline-block;
}

.navbar-nav {
	float: right;
	margin-right: 20px;
}
.navbar-nav > li {
	display: inline-block;
}

.well {
	background-color: #fff;
	padding: 5px;
	margin: 4px;
}

.map-container, .users-container {
	border: 8px solid black;
	padding: 5px;
}
/*.users-container {
	display: inline-block;
	position: absolute;
	top: 150px;
	right: 30px;
}

@media (max-width: 767px) {
	.users-container {
		width: 100%;
		float: none;
		position: relative;
		top: 0px;
		right: 0px;
	}
}
*/
.select-user {
	max-width: 200px;
}

.select-transaction-type {
	max-width: 150px;
}

.filter {
	display: inline-block;
}

.transaction-type {
	padding: 10px;
}

th:hover {
	cursor: pointer;
}