.well {
	background-color: #fff;
	padding: 8px;
}
.select-user {
	max-width: 200px;
}

.select-transaction-type {
	max-width: 150px;
}

.filter {
	display: inline-block;
}

.transaction-type {
	padding: 10px;
}

