.well {
	background-color: #fff;
	padding: 5px;
	margin: 4px;
}
.select-user {
	max-width: 200px;
}

.select-transaction-type {
	max-width: 150px;
}

.filter {
	display: inline-block;
}

.transaction-type {
	padding: 10px;
}

th:hover {
	cursor: pointer;
}
