<h1 class="slide" slide-toggle="#chart">This is the charts template</h1>
<div id="chart" class="slideable">

	<canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick"></canvas> 
</div>