<h1>This is the charts template</h1>

<ul class="nav nav-tabs">
  <li role="presentation"><a ui-sref=".transactions">Transactions</a></li>
  <li role="presentation"><a href=".users">Users</a></li>
  <li role="presentation"><a href=".locations">Locations</a></li>
</ul>

<div ui-view></div>