<ul class="nav nav-tabs">
  <li class="active" role="presentation"><a ui-sref=".transactions">User Transactions</a></li>
  <li role="presentation"><a ui-sref=".users">User Stats</a></li>
</ul>

<div ui-view></div>
