<input type="text" class="form-control user-stats-search" ng-model="query"></input>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Total Earnings</th>
      <th>Total Charges</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | filter: query">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td class="currency">{{user.total_earnings}}</td>
      <td class="currency">{{user.total_charges}}</td>
    </tr>
  </tbody>
</table>
</div>