<div class="earnings-chart">
	<canvas id="line" class="chart chart-line" data="earnings.data" labels="earnings.labels" legend="true" options="options" series="earnings.series"></canvas> 
</div>

<div class="charges-chart">	
	<canvas id="line" class="chart chart-line" data="charges.data" labels="charges.labels" legend="true" options="options" series="charges.series" click="onClick"></canvas> 
</div>