<div class="container-fluid">
	<h5>Control Panel<span><button class="btn btn-default ctrl-panel-submit" ng-click="submit()">Submit</button></span></h5>
	<select ng-model="userId" class="form-control filter select-user" ng-options="user.id as user.name for user in users">
	</select>

<!-- 	<div class="filter-transaction-type filter">
		<div class="checkbox">
			<label>
				<input ng-model="filters.earning" type="checkbox">Earning
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input ng-model="filters.charge" type="checkbox">Charge
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input ng-model="filters.showActive" type="checkbox">Show Filters
			</label>
		</div>
	</div>
	<div ng-show="!!filters.showActive" class="filter-settings filter">
		<ul>
			<li>Earning: {{filters.earning}}</li>
			<li>Charge: {{filters.charge}}</li>
			<li>User ID: {{filters.userId}}</li>
		</ul>
	</div> -->

</div>
