<div class="container">
    <h1>The Home View!</h1>
    <button ng-click="locationToggle = !locationToggle" class="btn btn-default">Show Locations</button>
    <ul ng-show="locationToggle">
        <li ng-repeat="location in locations">{{location}}</li>
    </ul>

</div>