<div class="container">
    <h1>Home</h1>
    <span>$state = <b>{{$state.current.name}}</b></span><br>
    <span>$state url = <b>{{$state.$current.url.source}}</b></span>
    <div class="well" ui-view="test"></div>
    <div class="well" ui-view="control"></div>
    <div class="well" ui-view="charts"></div>
</div>

