<div class="container-fluid">
    <div class="row">
    	<div ui-view="control"></div>
	</div>
    <hr>
    <div class="row">
 		<div class="map-container" ui-view="maps"></div>
    	<div class="chart-container" ui-view="transactions"></div>
		<div ui-view="users"></div>
    </div>
 	<hr>
</div>

