<input type="number" class="form-control" ng-model="latitude"></input>Latitude: {{latitude}} 
<input type="number" class="form-control" ng-model="longitude"></input>Longitude: {{longitude}}


<div id="map-canvas" google-maps="" latitude="37.975723" longitude="-122.297981"></div>
