<h3>The Test Page</h3>
<button ng-click="locationToggle = !locationToggle" class="btn btn-default">Show Locations</button>
<button ng-click="userToggle = !userToggle" class="btn btn-default">Show Users</button>
<button ng-click="transactionToggle = !transactionToggle" class="btn btn-default">Show Transactions</button>


<ul ng-show="locationToggle">
    <li ng-repeat="location in locations">{{location}}</li>
</ul>
<ul ng-show="userToggle">
    <li ng-repeat="user in users">{{user}}</li>
</ul>
<ul ng-show="transactionToggle">
    <li ng-repeat="transaction in transactions">{{transaction}}</li>
</ul>